body{
  font-family: sans-serif;
}

.butterflyLine {
  opacity: .1;
  stroke: black;
  fill: none;
}

.chanLineBG {
  opacity: 1;
  stroke: rgb(255, 255, 255);
  stroke-width: 3;
  fill: none;
}

.chanLine {
  opacity: 1;
  stroke: rgb(67, 124, 252);
  stroke-width: 2;
  fill: none;
}

.selectPos {
  opacity: .2;
  stroke: none;
  fill: rgb(246, 170, 55);
}

.selectNeg {
  opacity: .2;
  stroke: none;
  fill: rgb(120, 189, 238);
}

.posPeak {
  stroke: rgb(238, 62, 51);
  stroke-width: 3;
  fill: none;
}

.negPeak {
  stroke: rgb(229, 27, 254);
  stroke-width: 3;
  fill: none;
}

#infoPanel {
  width: 300px;
}

#plotAndInfo {
  display: flex;
}

#fileBin {
  width: 40%;
}

#chanLabel {
  font: .9em sans-serif;
  text-align: center;
  margin: 0px 20px 10px;
}

#fileNameSelect {
  margin: 10px 0px 5px;
  font: .7em sans-serif;
}

#binSelect {
  margin: 0px 0px 10px;
  font: .7em sans-serif;
}

#fileIn {
  margin: 10px 40px 10px;
}

.lineType0 {
  stroke: solid;
}

.lineType1 {
  stroke-dasharray: 8,4;
}

.lineType2 {
  stroke-dasharray: 2,2;
}

.lineType3 {
  stroke-dasharray: 5,5,2,5;
}

.lineType4 {
  stroke-dasharray: 5,5;
}

#confTitle {
  margin: 20px 45px 0px 45px;
  font: bold 1.2em sans-serif;
}

.configPrompt {
  font: 12px sans-serif;
  margin: 5px 0px 5px 0px;
}

#configContainer {
  margin: 10px 45px 10px;
  display: flex;
}

#redcap {
  margin: none;
}

#defaultTimes {
  margin: 0px 20px;
}

.redcapInput {
  width: 300px;
}

.twInput {
  width: 50px;
  display: inline;
}

.twSpacer {
  margin: 0px 10px;
  display: inline;
}

#progressBG {
  height: 10px;
  background-color: rgb(197, 205, 205);
  border: 1px solid black;
  flex-grow: 1;
  margin-right: 5px;
}

#progressLabel {
  width: 40px;
  font: .8em monospace;
  text-align: right;
  margin-top: auto;
  margin-right: 3px;
}

#progressBar {
  height: 100%;
  background-color: rgb(67, 124, 252);
}

#notesTitle {
  margin-left: 10px;
}

#notesBox {
  margin: 5px 10px;
  width: 90%;
  resize: none;
}
