body{
  font-family: sans-serif;
}

.butterflyLine {
  opacity: .1;
  stroke: black;
  fill: none;
}

.chanLineBG {
  opacity: 1;
  stroke: rgb(255, 255, 255);
  stroke-width: 3;
  fill: none;
}

.chanLine {
  opacity: 1;
  stroke: rgb(67, 124, 252);
  stroke-width: 2;
  fill: none;
}

.selectPos {
  opacity: .2;
  stroke: none;
  fill: rgb(246, 170, 55);
}

.selectNeg {
  opacity: .2;
  stroke: none;
  fill: rgb(120, 189, 238);
}

.posPeak {
  stroke: rgb(238, 62, 51);
  stroke-width: 3;
  fill: rgba(241, 6, 6, 0.10);
}

.negPeak {
  stroke: rgb(229, 27, 254);
  stroke-width: 3;
  fill: rgba(229, 27, 254, 0.10);
}

#infoPanel {
  width: 300px;
}

#plotAndInfo {
  display: flex;
}

#fileBin {
  width: 40%;
}

#chanLabel {
  font: .9em sans-serif;
  text-align: center;
  margin: 0px 20px 10px;
}

#fileNameSelect {
  margin: 10px 0px 5px;
  font: .7em sans-serif;
}

#binSelect {
  margin: 0px 0px 10px;
  font: .7em sans-serif;
}

#fileIn {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: column;
}

.lineType0 {
  stroke: solid;
}

.lineType1 {
  stroke-dasharray: 8,4;
}

.lineType2 {
  stroke-dasharray: 2,2;
}

.lineType3 {
  stroke-dasharray: 5,5,2,5;
}

.lineType4 {
  stroke-dasharray: 5,5;
}

#confTitle {
  margin: 10px 35px 0px 35px;
  padding: 10px 10px 10px 10px;
  font: bold 1.2em sans-serif;
  cursor: pointer;
}

#confTitle:hover {
  background-color: rgb(174, 185, 205);
}

.configPrompt {
  font: 12px sans-serif;
  margin: 5px 0px 5px 0px;
}

#configContainer {
  margin: 10px 45px 10px;
  display: flex;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

#redcap {
  margin: none;
}

#defaultTimes {
  margin: 0px 20px;
}

.redcapInput {
  width: 300px;
}

.twInput {
  width: 50px;
  display: inline;
}

.twSpacer {
  margin: 0px 10px;
  display: inline;
}

#progressBG {
  height: 10px;
  background-color: rgb(197, 205, 205);
  border: 1px solid rgb(69, 69, 69);
  flex-grow: 1;
  margin-right: 10px;
  margin-bottom: 10px;
}

#progressLabel {
  width: 40px;
  font: .8em monospace;
  text-align: right;
  margin-top: 1px;;
  margin-right: 3px;
}

#progressBar {
  height: 100%;
  background-color: rgb(67, 124, 252);
}

#notesTitle {
  margin-left: 10px;
}

#notesBox {
  margin: 5px 10px;
  width: 90%;
  resize: none;
}

#chanLabel {
  height:20px;
}

.peakInfoLabel {
  font: 12px monospace;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

.overlayWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background-color: white;
  border-radius: 20px;
  border: 1px solid black;
  overflow: hidden;
}

#introContent {
  margin: 15px;
}

#introTitle {
  padding: 25px 15px;
  margin: 0px;
  background: rgb(49, 105, 172);
  color: #fff;
  text-align: center;
}

.browseFileLabel {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px 0px 12px;
    cursor: default;
    border-radius: 5px;
}

#selDirLabel {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100px;
  padding: 6px 12px 2px 12px;
  text-align: center;
}

#selDirLabel:hover{
  border: 1px solid rgb(49, 105, 172);
  background: rgb(227, 237, 249);
}

#binSelConf {
  padding: 10px;
}

.dlButton {
  margin: 5px;
  height: 25px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 450px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}
.dropzone.dropzoneHighlight{
  border-color: rgb(67, 124, 252);
}

.dropLabel {
  margin: 10px 10px 5px 10px;
  text-align: center;
}

#errTitle {
  color: red;
}

#errClose {
  margin: auto;
  display: flex;
}

#yAxis {
  cursor: row-resize;
}

#dragTarget {
  cursor: crosshair;
}

#peakViz {
  cursor: pointer;
}

.trialLabel {
  font: 12px sans-serif;
}

#badCount {
  color: rgb(246, 200, 97);
  margin-left: auto;
}

#goodCount {
  color: rgb(73, 163, 246);
}

#trialBar {
  height: 10px;
  background-color: rgb(246, 200, 97);
  margin-bottom: 10px;
  border: 1px solid rgb(69, 69, 69);
}

#goodBar {
  height: 100%;
  background-color: rgb(73, 163, 246);
}
